<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="footer">
  <footer style="padding: 10px 10px 10px 10px;">
    <div class="container">
    <hr>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light">Homet</button>
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light">나의멘토링</button>
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light">ChatLog</button>
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light">...<br>더보기</button>
      </div>
    </div>
  </footer>
</th:block>


</html>