<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="footer">
  <footer style="padding: 10px 10px 10px 10px;">
    <div class="container">
    <hr>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light font" onClick="location.href='http://localhost:8080/'">Home</button>
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light font" th:onclick="|location.href='http://localhost:8080/mentee/applyList/${mentee.id}'|">나의 멘토링</button>
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light font">ChatLog</button>
        <button type="button" style="font-size: 3px; color: gray; width: 82px" class="btn btn-outline-light font" onclick="location.href='/login'">로그인</button>
      </div>
    </div>
  </footer>
</th:block>


</html>