<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/adminlay}">
<head>
    <style>

    </style>
</head>

<th:block layout:fragment="content">

    <h2>채팅 관리</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">시작시간</th>
                <th scope="col">맨토</th>
                <th scope="col">멘티</th>
                <th scope="col">종료시간</th>
                <th scope="col">상태</th>
                <th scope="col">채팅확인</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chat : ${chat}">
                <td th:text="${chat.getId()}"></td>
                <td th:text="${chat.getStart_time()}"></td>
                <td th:text="${chat.getMentor_id()}"></td>
                <td th:text="${chat.getMentee_id()}"></td>
                <td th:text="${chat.getFinish_time()}"></td>
                <td th:text="${chat.getStatus()}"></td>
                <td ><button>채팅보기</button></td>

            </tr>
            </tbody>
        </table>
    </div>

</th:block>


</html>