<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- header -->
    <header class="bg-primary py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-warning" style="display:inline; margin-top: 100px;">
                <img src="images/prodo2.png" class="rounded float-start prodo2" alt="..." />
                <h1 class="display-4 fw-bolder" style="display:inline; margin-left: 100px;">하지석</h1>
                <p class="lead fw-normal text-warning-50 mb-0" style="display:inline;">OO대학교 OO학과</p>
                <br />
                <br />
                <p class="lead fw-normal text-warning-50 mb-0" style="display:inline; margin-left: 100px;">OO대학교의 모든 것을 알려드리겠습니다.</p>
                <br />
                <br />
                <div class="d-inline-block">매칭횟수 10회</div>
                <div class="d-inline-block">응답률 100%</div>
            </div>
            <div class="px-lg-5 py-lg-5">
                <div class="p-4"><div class="text-center"></div></div>
            </div>
        </div>
    </header>



    <!-- Form -->
    <form action="POST">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="text-center">
                <h5 class="fw-bolder">멘토링 전 가장 궁금한 질문 한가지을 선택해주세요</h5><br>
            </div>
            <select name="question">
                <option value="question1">질문1</option>
                <option value="question2">질문2</option>
                <option value="question3">질문3</option>
                <option value="question4">질문4</option>
                <option value="question5">질문5</option>
                <option value="question6">질문6</option>
                <option value="question7">질문7</option>
                <option value="question8">질문8</option>
            </select>
            <div class="text-center">
                <h5 class="fw-bolder">희망하시는 멘토링 시간 3개를 선택해주세요</h5>
            </div>
            <span>희망 시간1</span>  <input type="datetime-local" name="matchTime1"><br>
            <span>희망 시간2</span>  <input type="datetime-local" name="matchTime2"><br>
            <span>희망 시간2</span>  <input type="datetime-local" name="matchTime3"><br>
            <input id="submitBtn" type="submit" value="제안"><input id="cancelBtn" type="button" value="취소">
        </div>
    </form>
</th:block>
</html>
