<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>
    .chat-content { height: 350px; overflow-y: scroll;}
    .line { margin-top: 10px; display: flex;}
    .chat-box { padding: 5px; max-width: 200px;}
    .mine {margin-left: auto;}
</style>
<div class="chat-content">
    <div class="line">
        <span class="chat-box"></span>
    </div>
    <div class="line">
        <span class="chat-box mine"></span>
    </div>
</div>
<div style="text-align: center">
<input class="chat-box" id="input">
<button id="send">전송</button>
</div>

<script type="module">
    import { Configuration, OpenAIApi } from 'https://cdn.skypack.dev/openai';

    document.querySelector('#send').addEventListener('click', async () => {
        let template = `
            <div class="line">
              <span class="chat-box mine">${document.querySelector('#input').value}</span>
            </div>
        `;
        document.querySelector('.chat-content').insertAdjacentHTML('beforeend', template);
        try {
            const response = await fetch('/api/v1/config');
            const data = await response.text();
            const configuration = new Configuration({
                apiKey: data
            });
            const openai = new OpenAIApi(configuration);
            const result = await openai.createCompletion({
                model: "text-davinci-003",
                prompt: document.querySelector('#input').value,
                temperature: 0.7,
                max_tokens: 200,
                top_p: 1,
                frequency_penalty: 0,
                presence_penalty: 0,
            });
            document.querySelector('#input').value = "";
            template = `
              <div class="line">
                <span class="chat-box">${result.data.choices[0].text}</span>
              </div>
            `;
            document.querySelector('.chat-content').insertAdjacentHTML('beforeend', template);
        }
        catch (err) {
            console.log(err);
        }
    });
</script>

</body>
</html>
