<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/phonelay}">

<th:block layout:fragment="content">
<div>
    <div>

                <table>
                    <thead>채팅방 목록</thead>
                    <tr>
                        <th style="font-size: 3px; color: black;">채팅방번호</th>
                        <th style="font-size: 3px; color: black;">시작시간</th>
                        <th style="font-size: 3px; color: black;">끝난시간</th>
                        <th style="font-size: 3px; color: black;">멘토이름</th>
                        <th style="font-size: 3px; color: black;">상태</th>
                    </tr>
                    <tr th:each="chat : ${chatlist}">
                        <td th:text="${chat.getId()}" style="font-size: 3px; color: black;"></td>
                        <td th:text="${chat.getStart_time()}" style="font-size: 3px; color: black;"></td>
                        <td th:text="${chat.getFinish_time()}" style="font-size: 3px; color: black;"></td>
                        <td th:text="${chat.getMentor_id()}" style="font-size: 3px; color: black;"></td>
                        <td th:text="${chat.getStatus()}" style="font-size: 3px; color: black;"></td>
                        <td><button value="보기"></button> </td>
                    </tr>

                </table>

    </div>

</div>
</th:block>
</html>