<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/phonelay}">

<th:block layout:fragment="content">
    <div class="d-flex justify-content-start" style="">
        <div class="p-2 font" style="font-size: 8px; margin: 3px "> <b>예지</b>님 제안한 멘토링</div>
    </div>

    <div style="margin: auto; text-align: center;">
        <!-- list 1명 -->
        <div style="margin: 2px;">
        <input type="button" class="btn-check" name="options3" id="mento1">
        <label class="btn btn-secondary font" style="width: 310px;" for="mento1">
            <img src="images/prodo2.png" class="rounded float-start prodo2" alt="..." style="width: 50px; height: 50px; margin: 5px 0px 0px 0px" />
            <p class="font" style="display:inline; margin-left: -70px; margin-right: 5px; font-size: 20px;">하지석</p>
            <p class="font" style="display:inline; font-size: 10px">OO대학교 OO학과</p>
            <p class="font" style="font-size: 12px; margin-bottom:0; color: black;"> 멘토링 신청 대기중</p>
            <p class="font" style="font-size: 2px; margin: 0; text-align: right" >00에 대해 알고 싶어요!</p>
        </label>
        </div>
        <!-- list 1명 -->
        <div style="margin: 2px;">
        <input type="button" class="btn-check" name="options3" id="mento2">
        <label class="btn btn-secondary font" style="width: 310px;" for="mento2">
            <img src="images/con2.png" class="rounded float-start prodo2" alt="..." style="width: 50px; height: 50px; margin: 5px 0px 0px 0px" />
            <p class="font" style="display:inline; margin-left: -70px; margin-right: 5px; font-size: 20px;">김수진</p>
            <p class="font" style="display:inline; font-size: 10px">OO대학교 OO학과</p>
            <p class="font" style="font-size: 12px; margin-bottom:0; color: black;"> 멘토링 신청 대기중</p>
            <p class="font" style="font-size: 2px; margin: 0; text-align: right" >자세한 내용은 만나서 말해요!</p>
        </label>
        </div>
        <!-- list 1명 -->
        <div style="margin: 2px;">
        <input type="button" class="btn-check" name="options3" id="mento3">
        <label class="btn btn-secondary font" style="width: 310px;" for="mento3">
            <img src="images/prodo2.png" class="rounded float-start prodo2" alt="..." style="width: 50px; height: 50px; margin: 5px 0px 0px 0px" />
            <p class="font" style="display:inline; margin-left: -70px; margin-right: 5px; font-size: 20px;">함진형</p>
            <p class="font" style="display:inline; font-size: 10px">OO대학교 OO학과</p>
            <p class="font" style="font-size: 12px; margin-bottom:0; color: black;"> 멘토링 신청 대기중</p>
            <p class="font" style="font-size: 2px; margin: 0; text-align: right" >워홀은 어떻게 가요?</p>
        </label>
        </div>

    </div>


    <div class="d-flex justify-content-start" style="">
        <div class="p-2 font" style="font-size: 8px; margin: 3px "> <b style="color: rgba(216,90,123,0.5)">멘토</b>와 매칭된 멘토링</div>
    </div>

    <div style="margin: auto; text-align: center;">
        <!-- 매칭 1명 -->
        <div style="margin: 2px;">
        <input type="button" class="btn-check" name="options3" id="match1">
        <label class="btn btn-secondary font" style="width: 310px;border-color: rgba(216,90,123,1)!important; background-color: rgba(216,90,123,1)!important;" for="match1">
            <img src="images/tube2.jpg" class="rounded float-start prodo2" alt="..." style="width: 50px; height: 50px; margin: 5px 0px 0px 0px" />
            <p class="font" style="display:inline; margin-left: -70px; margin-right: 5px; font-size: 20px;">장하나</p>
            <p class="font" style="display:inline; font-size: 10px">OO대학교 OO학과</p>
            <p class="font" style="font-size: 12px; margin-bottom:0; color: darkgreen;"> 2023년 02월 17일에 만나요!</p>
            <p class="font" style="font-size: 2px; margin: 0; text-align: right" >자세한 내용은 만나서 말해요!</p>
        </label>
        </div>


    </div>

</th:block>
</html>