<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout}">


<th:block layout:fragment="content">
    <header class="bg-primary py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-warning" style="display:inline; margin-top: 100px;">
                <img src="images/prodo2.png" class="rounded float-start prodo2" alt="..." />
                <h1 class="display-4 fw-bolder" style="display:inline; margin-left: 100px;">하지석</h1>
                <p class="lead fw-normal text-warning-50 mb-0" style="display:inline;">OO대학교 OO학과</p>
                <br />
                <br />
                <p class="lead fw-normal text-warning-50 mb-0" style="display:inline; margin-left: 100px;">OO대학교의 모든 것을 알려드리겠습니다.</p>
            </div>
            <div class="px-lg-5 py-lg-5">
                <div class="p-4"><div class="text-center"></div></div>
            </div>
        </div>
    </header>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>